{% extends 'base.html' %}

{% block content %}
    <div class="mt-auto mb-3 mx-3">
        <a href="{% url 'client:client_create' %}" class="btn btn-lg btn-block btn-outline-warning">
            Создать
        </a>
    </div>
    <div class="row row-cols-1 row-cols-md-1 g-3">
        {% for client in object_list %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">{{ client.fullname }} - {{ client.email }}</div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ client.comment|truncatewords:20 }}
                        </p>
                    </div>
                    <div class="mt-auto mb-3 mx-3">
                        <a href="{% url 'client:client_detail' client.pk %}" class="btn btn-lg btn-block btn-outline-warning">
                            Смотреть
                        </a>
                        <a href="{% url 'client:client_update' client.pk %}" class="btn btn-lg btn-block btn-outline-warning">
                            Изменить
                        </a>
                        <a href="{% url 'client:client_delete' client.pk %}" class="btn btn-lg btn-block btn-outline-danger">
                            Удалить
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% btn_nav paginator page_obj %}

{% endblock %}